<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Candidates</title>
	<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
 

<div class="wrapper">
    <div class="title" style="color: rgb(7, 7, 7)">
      Update Candidates
    </div>
    <form action="/admin/update/<%= details._id %>" method="post"enctype="multipart/form-data" >
    <div class="form">
       <div class="inputfield">
          <label>Name</label>
          <input type="text" name = 'name'class="input" value=" <%= details.name %>" >
       </div>
       <div class="inputfield">
        <label>Email</label>
        <input type="text" name = 'email' class="input" value=" <%= details.email %>" >
       </div>

        <div class="inputfield">
        <label>Menifesto</label>
        <input type="text" name = 'menifesto' class="input" value=" <%= details.menifesto %>" >
       </div>
          
        <div class="inputfield">
          <label>Position</label>
          <div class="custom_select">
            <select name = 'position' id ='position' >
              <option name = 'position' value="" ><%= details.position %></option>
              <option name = 'position' value="Chief Counselor">Chief Counselors</option>
              <option name = 'position' value="Boys HostelCounselor">Boys Hostel Counselor</option>
              <option name = 'position' value="Girls Hostel Counselor">Girls Hostel Counselor</option>
              <option name = 'position' value="Boys Cultural Counselor">Boys Cultural Counselor</option>
              <option name = 'position' value="Girls Cultural Counselor">Girls Cultural Counselor</option>
              <option name = 'position' value="Boys Prayer Counselor">Boys Prayer Counselor</option>
              <option name = 'position' value="Girls Prayer Counselor">Girls Prayer Counselor</option>
              <option name = 'position' value="Boys Games Counselor">Boys Games Counselor</option>
              <option name = 'position' value="Girls Games Counselor">Girls Games Counselor</option>
            </select>
          </div>
       </div>
        <div class="inputfield">
						<label for="photo">Photo</label>
						<input type="file" name = 'photo'>
            <img src="/<%= details.photo %>" alt="" width="50px" height="50px">
<!-- accept="application/pdf" -->
       </div>
       <input type="hidden" name="old_img" value="<%= details.photo %>">
			 <div class="inputfield">
					<label for="cv" >CV</label>
				 	<input type="file" name = 'cv'>
          <img src="/<%= details.cv %>" alt="" width="50px" height="50px">
			 </div>
			
      <div class="inputfield">
       
        <input type="submit" value="UPDATE USERS" class="btn">
      </div>
    </div>
    </form>

</div>

</body>
</html>
